/* Add your styles for the floating menu */
.floating-menu {
  position: fixed;
  bottom: 0;
  right: 32px;
  z-index: 10000;
  max-width: 150px;
  transform: translateY(-50%);
  border-radius: 8px;
  background-color: #f5b4cb;
  padding: 10px;
}
