/* fonts.css */

@font-face {
  font-family: "Berlin";
  src: url("../public/berlin/BerlinTypeWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Berlin";
  src: url("../public/berlin/BerlinTypeWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
